local ReplicatedStorage = game:GetService("ReplicatedStorage")
local Players = game:GetService("Players")

local function setupPlayer(plr)
    local hum = plr.Character and plr.Character:FindFirstChildOfClass("Humanoid")
    if hum then
        hum.WalkSpeed = 32 -- eksempel boost
    end
end

Players.PlayerAdded:Connect(function(plr)
    plr.CharacterAdded:Connect(function()
        setupPlayer(plr)
    end)
end)

print("Jurassic Blocky Hub Loaded!")
